In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/data_cumulative_enc.csv")

In [5]:
df = df.drop(columns="Unnamed: 0")

In [6]:
df.head(2)

,Intercept,C(team_home_id)[T.ATL],C(team_home_id)[T.BAL],C(team_home_id)[T.BUF],C(team_home_id)[T.CAR],C(team_home_id)[T.CHI],C(team_home_id)[T.CIN],C(team_home_id)[T.CLE],C(team_home_id)[T.DAL],C(team_home_id)[T.DEN],...,C(team_away_id)[T.WAS],over_under_line,spread_home,schedule_week,ELEVATION,h_travel_distance,a_travel_distance,h_days_last_game,a_days_last_game,home_win
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,48.0,-5.0,1.0,209.4,0.0,0.0,250.0,250.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.5,-7.0,1.0,375.2,0.0,0.0,250.0,250.0,1.0

In [16]:
df["acc_pred"] = df.apply(lambda x: (x["spread_home"] <0)*1 == x["home_win"] , axis=1 )

In [10]:
df.head(2)

,Intercept,C(team_home_id)[T.ATL],C(team_home_id)[T.BAL],C(team_home_id)[T.BUF],C(team_home_id)[T.CAR],C(team_home_id)[T.CHI],C(team_home_id)[T.CIN],C(team_home_id)[T.CLE],C(team_home_id)[T.DAL],C(team_home_id)[T.DEN],...,over_under_line,spread_home,schedule_week,ELEVATION,h_travel_distance,a_travel_distance,h_days_last_game,a_days_last_game,home_win,acc_pred
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48.0,-5.0,1.0,209.4,0.0,0.0,250.0,250.0,1.0,True
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,37.5,-7.0,1.0,375.2,0.0,0.0,250.0,250.0,1.0,True

In [53]:
df["acc_pred"].sum()/len(df)

0.6601525262154433

In [54]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=["acc_pred", "home_win"])
y = df["home_win"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [55]:
from sklearn.ensemble import RandomForestClassifier

In [77]:
forest = RandomForestClassifier(n_estimators=30, random_state=33)
y_pred = forest.fit(X_train, y_train).predict(X_test)

In [78]:
from sklearn.metrics import accuracy_score

In [79]:
accuracy_score(y_test, y_pred)

0.5976190476190476

In [25]:
X.head()

,Intercept,C(team_home_id)[T.ATL],C(team_home_id)[T.BAL],C(team_home_id)[T.BUF],C(team_home_id)[T.CAR],C(team_home_id)[T.CHI],C(team_home_id)[T.CIN],C(team_home_id)[T.CLE],C(team_home_id)[T.DAL],C(team_home_id)[T.DEN],...,C(team_away_id)[T.WAS],over_under_line,spread_home,schedule_week,ELEVATION,h_travel_distance,a_travel_distance,h_days_last_game,a_days_last_game,home_win
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,48.0,-5.0,1.0,209.4,0.0,0.0,250.0,250.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.5,-7.0,1.0,375.2,0.0,0.0,250.0,250.0,1.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,37.0,-1.5,1.0,47.5,0.0,0.0,250.0,250.0,1.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,41.0,1.5,1.0,177.7,0.0,0.0,250.0,250.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,36.5,-7.0,1.0,238.0,0.0,0.0,250.0,250.0,0.0

In [70]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler

In [69]:
X_train.head(1)

,Intercept,C(team_home_id)[T.ATL],C(team_home_id)[T.BAL],C(team_home_id)[T.BUF],C(team_home_id)[T.CAR],C(team_home_id)[T.CHI],C(team_home_id)[T.CIN],C(team_home_id)[T.CLE],C(team_home_id)[T.DAL],C(team_home_id)[T.DEN],...,C(team_away_id)[T.TEN],C(team_away_id)[T.WAS],over_under_line,spread_home,schedule_week,ELEVATION,h_travel_distance,a_travel_distance,h_days_last_game,a_days_last_game
1200,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,51.0,-3.5,12.0,13.4,0.0,0.0,7.0,14.0

In [71]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train_sc = scaler.transform(X_train)
X_test_sc = scaler.transform(X_test)

pca = PCA(n_components=20, random_state=33)
pca.fit(X_train_sc)
X_pca_train = pca.transform(X_train_sc)
X_pca_test = pca.transform(X_test_sc)

In [72]:
y_pred = forest.fit(X_pca_train, y_train).predict(X_pca_test)

In [73]:
accuracy_score(y_test, y_pred)

0.5880952380952381

In [76]:
for k in range(30,60):
    pca = PCA(n_components=k, random_state=33)
    pca.fit(X_train_sc)
    X_pca_train = pca.transform(X_train_sc)
    X_pca_test = pca.transform(X_test_sc)
    y_pred = forest.fit(X_pca_train, y_train).predict(X_pca_test)
    print(k, accuracy_score(y_test, y_pred))

30 0.5761904761904761
31 0.5904761904761905
32 0.580952380952381
33 0.6
34 0.5976190476190476
35 0.6071428571428571
36 0.5976190476190476
37 0.5976190476190476
38 0.5952380952380952
39 0.6214285714285714
40 0.5952380952380952
41 0.5833333333333334
42 0.6047619047619047
43 0.6023809523809524
44 0.6023809523809524
45 0.5833333333333334
46 0.6238095238095238
47 0.5833333333333334
48 0.6
49 0.611904761904762
50 0.5857142857142857
51 0.5928571428571429
52 0.6047619047619047
53 0.5928571428571429
54 0.5928571428571429
55 0.6
56 0.5714285714285714
57 0.5904761904761905
58 0.5857142857142857
59 0.6261904761904762

In [68]:
X_train.shape

(1678, 71)

In [ ]:
X_train_yr = X_train[X_train[]]
forest = RandomForestClassifier(n_estimators=30, random_state=33)
y_pred = forest.fit(X_train, y_train).predict(X_test)